.header {
  max-width: 1140px;
  margin: 0 auto;
}

.switchTheme {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 11rem;
}

.wrap {
  width: 100%;
}
